# Core ML Libraries
torch
pandas
numpy
scipy

# Hugging Face Libraries
transformers
sentence-transformers
accelerate
bitsandbytes
huggingface_hub

# Tokenizer Dependencies for MedAlpaca
protobuf
tiktoken
sentencepiece

# RAG & Evaluation
faiss-cpu
nltk
rouge-score
bert-score
matplotlib
